@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

main {
	padding: 0 40px;
	background-color: #FFEDCC;
	font-family: 'Gentium Book Basic', sans-serif;
}

h3 {
	font-size: 20px;
	margin-bottom: 10px;
}
/* MENU */
section.header {
	position: sticky;
	top: 0;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(5, 5, 5, 0.9);
	overflow-x: hidden;
	transition: 1s;
}

.overlay-content {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 100vh;
	text-align: center;
	font-size: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font: 36px;
	color: #818181;
	display: block;
	transition: 1s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
	transform: rotate(12deg);
	
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
.media-container {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}

.media-container a {
	color: #000000;

}

.media-container a:hover {
	color: red;
}
.nav-btn i {
	display: block;
	
	transform: rotate(90deg);
	
	cursor: pointer;


}
.nav-btn:hover {
	transform: rotate(180deg);
	transition: 1s;
	display: block;
	
}

/* HOME */

.acceuil {
	font-family: 'Gentium Book Basic', serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 800px;
	align-items: center;
	flex-wrap: wrap;

}

.title {
	font-size: 28px;
	width: 400px;
	height: 300px;
	margin-top: 120px;
	margin-left: 5px;	
}


.container-right img {

	width: 300px;
	height: auto;
	
}

.split-layout__rule {
	display: flex;
	position: absolute;
	left: 40%;
	border-style: solid;
	border-color: red;
	border-width: 0px 200px 2px 200px;
	transform: rotate(-70deg);
}

/* ABOUT */

.hero-about {
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}


#about > div.title-container > div > h2 {
	display: flex;
	flex-direction: row;
	margin: 0px 100px;
	font-size: 50px;
	font-family: 'Gentium Book Basic', serif;
	white-space: nowrap;
}

.text-content {
	width: 600px;
	height: auto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 29px;

}


.about-infos {
	display: flex;
	padding: 0 15px;

}

.list-about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 24px;
	list-style: none;
}

#about > div.about-infos > ul > li {
	padding: 0 15px;
	border-radius: 10px;
	
}


/* TIMELINE */

.container-formation {
	min-height: 100vh;
	width: 100%;
	display: flex;
	
	align-items: center;
	flex-direction: row;
}
.timeline {
	width: 80%;
	height: 600px;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}
.timeline ul {
	list-style: none;
}
.timeline ul li {
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: #FFEDCC;
	border: 1px solid #e6d4b3;
}
.timeline-content h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.timeline-content p {
	font-style: oblique;
	font-weight: 700;
	font-size: 20px;
}
.timeline-content .date {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 2px;

}

/* EXPE */

.container-experiences {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-direction: row;
}
.timeline-experiences {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 80px auto;
	position: relative;
}
.timeline-experiences ul {
	list-style: none;
}
.timeline-experiences ul li {
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: #FFEDCC;
	border: 1px solid #e6d4b3;
}
.timeline-content .liexp {
	font-style: normal;
	padding-bottom: 10px;
	font-size: 18px;
}
@media only screen and (min-width: 768px) {
	.container-formations {
		flex-direction: row;
	}
	.timeline::before {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: 2px;
		background-color: #000;
	}
	.timeline ul li {
		width: 50%;
		margin-bottom: 50px;
		position: relative; 
	}
	.timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-10px);
		border-radius:  20px 0 20px 20px;
	}
	.timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(10px);
		border-radius: 0 20px 20px 20px;
	}
	.timeline ul li::after {
		content: '';
		position: absolute;
		height: 20px;
		width: 20px;
		background-color: #000;
		border-radius: 50%;
		top: 0;
	}
	.timeline ul li:nth-child(odd):after {
		transform: translate(50%, -50%);
		right: -10px;
	}
	.timeline ul li:nth-child(even):after {
		transform: translate(-50%, -50%);
		left: -10px;
	}
	.timeline ul li:hover:after{
		background-color: #ff5050;
	}
	body > main > section:nth-child(4) > div.title-formation > h2 {
		width: 50%;
		height: auto;
		padding: 30px;
		display: flex;
		flex-direction: row;
		margin: 0px 100px;
		font-size: 50px;
		font-family: 'Gentium Book Basic', serif;
		white-space: nowrap;
	}
	.timeline-content .date {
		position: absolute;
		top: -20px;
	}
	/* EXP */

	.timeline-experiences::before {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: 2px;
		background-color: #000;
	}
	.timeline-experiences ul li {
		width: 50%;
		margin-bottom: 50px;
		position: relative; 
	}
	.timeline-experiences ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-10px);
		border-radius:  20px 0 20px 20px;
	}
	.timeline-experiences ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(10px);
		border-radius: 0 20px 20px 20px;
	}
	.timeline-experiences ul li::after {
		content: '';
		position: absolute;
		height: 20px;
		width: 20px;
		background-color: #000;
		border-radius: 50%;
		top: 0;
	}
	.timeline-experiences ul li:nth-child(odd):after {
		transform: translate(50%, -50%);
		right: -10px;
	}
	.timeline-experiences ul li:nth-child(even):after {
		transform: translate(-50%, -50%);
		left: -10px;
	}
	.timeline-experiences ul li:hover:after{
		background-color: #ff5050;
	}
	body > main > section:nth-child(5) > div.title-experiences > h2 {
		width: 50%;
		height: auto;
		padding: 30px;
		display: flex;
		flex-direction: row;
		margin: 0px 100px;
		font-size: 50px;
		font-family: 'Gentium Book Basic', serif;
		white-space: nowrap;
	}
	.timeline-content .date {
		position: absolute;
		top: -20px;
	}
}

/* DL CV */
.resume {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gentium Book Basic', sans-serif;
}
.first-btn
{
  background-color:#FFEDCC;
  padding:20px 40px;
  border:0px;
  color:#000;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size:44px;
  margin:40px 40px;
  position:relative;

  
}
.first-btn:before,
.first-btn:after {
  border-color: #ff5050;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content:"";
  height: 18px;
  position: absolute;
  width: 18px;
}
.first-btn:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.first-btn:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.first-btn:hover:before,
.first-btn:hover:after
{
  height:100%;
  width:100%;
  cursor: pointer;
}


@media screen and (max-width: 1000px) {
	.ligne {
		position: relative;
		left: 200px;
	}
	.round {
		left: calc(50% + 200px);
	}
	.box {
		left: calc(52% - 50px) ;	
	}
}

